<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="I be ɲini yan..."{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">A dan se !</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Feerefɛɛnw</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Fɛɛn A</a>
            <a class="navbar-item" href="#">Fɛɛn B</a>
            <a class="navbar-item" href="#">Fɛɛn C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Baaradaw</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Baarada A</a>
            <a class="navbar-item" href="#">Baarada B</a>
            <a class="navbar-item" href="#">Baarada C</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">K'a ta</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
